@page "/tarefas"

<PageTitle>Tarefas</PageTitle>

<ManterTarefa @ref="meuModal" Titulo="Adicionar Tarefa" Tarefa="Tarefa"/>

<div class="container-fluid p-3">
    <h1>Tarefas</h1>
    <button class="btn btn-primary" @onclick="AbrirDialogo">Adicionar</button>
</div>


<div class="container-fluid">
    <div class="card p-3">
        <table class="table table-striped" >
            <tr>
                <th>Id da tarefa</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Finalizada</th>
                <th>Data início</th>
                <th>Data Término</th>
            </tr>
            
            @* <tr *ngFor="let tarefa of tarefas" >
                <td >{{tarefa.id}}</td>
                <td >{{tarefa.nome}} </td>
                <td >{{tarefa.descricao}} </td>
                <td >{{tarefa.finalizada ? 'Sim': 'Não'}} </td>
                <td>{{tarefa.dataInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{tarefa.dataTermino | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <button class="btn btn-close" [disabled]="tarefa.finalizada" (click)="excluir(tarefa.id)"></button>
                    <button class="btn btn-primary" [disabled]="tarefa.finalizada" (click)="alterarTarefa(tarefa.id)">Alterar</button>
                    <button class="btn btn-primary" [disabled]="tarefa.finalizada" (click)="finalizarTarefa(tarefa.id)">Finalizar</button>
                </td>
                
            </tr> *@
        </table>
    </div>
</div>

@code {
    private ManterTarefa meuModal;

    private IList<Tarefa> tarefas = new List<Tarefa>();

    public Tarefa? Tarefa { get; set; }

    protected override void OnInitialized()
    {
        Tarefa = new() { DataInicio = DateTime.Now };
    }

    private async Task AbrirDialogo()
    {
        meuModal.Titulo = "Adicionar Tarefa";
        await meuModal.AbrirDialogo();    
    }   
}